    <div class="searchAlertcontainer">
        <button type="button" class="btn btn-danger pull-right" (click)="goBack()">返回</button>       
        <button type='button' class="btn btn-primary"  data-toggle="modal" data-target="#myModal2">新增</button>
        <form>
          <div class="table-responsive">
          <table class="table table-striped">
            <thead>
             <tr>
               <th>接口中文名称</th>
               <th>接口英文名称</th>      
               <th>输入/输出</th>
               <th>输入输出字段英文名称</th>
               <th>输入输出字段中文名称</th>
               <th>输入输出字段类型</th>
               <th>输入字段是否必输</th>
               <th>字段示列</th>
               <th>描述</th>
             </tr>
             </thead>
             <tbody>
               <tr *ngFor='let itemtr of ioinputdata'>
                  <td>
                      <span name="int_name_cn">{{itemtr.int_name_cn}}</span>
                       <input type='text' class='flagclass'  *ngIf="flag2" [(ngModel)]='itemtr.int_name_cn' name="int_name_cn">
                  </td>
                  <td>
                      <span name="int_name_en">{{itemtr.int_name_en}}</span>
                       <input type='text' class='flagclass'  *ngIf="flag2" [(ngModel)]='itemtr.int_name_en' name="int_name_en">
                  </td>
                 <td>
                   <span name="type">{{itemtr.type}}</span>
                    <input type='text' class='flagclass'  *ngIf="flag2" [(ngModel)]='itemtr.type' name="type">
                 </td>
                  <td>
                   <span name="name_en">{{itemtr.name_en}}</span>
                    <input type='text'  class='flagclass' *ngIf="flag2" [(ngModel)]='itemtr.name_en' name="name_en">
                 </td>
                  <td>
                   <span name="name_cn">{{itemtr.name_cn}}</span>
                    <input type='text' class='flagclass' *ngIf="flag2" [(ngModel)]='itemtr.name_cn' name="name_cn">
                 </td>
                  <td>
                   <span name="field_type">{{itemtr.field_type}}</span>
                    <input type='text' class='flagclass' *ngIf="flag2" [(ngModel)]='itemtr.field_type' name="field_type">
                 </td>
                  <td>
                   <span name="lob">{{itemtr.lob}}</span>
                    <input type='text' class='flagclass' *ngIf="flag2" [(ngModel)]='itemtr.lob' name="lob">
                 </td>
                  <td>
                   <span name="example">{{itemtr.example}}</span>
                    <input type='text' class='flagclass' *ngIf="flag2" [(ngModel)]='itemtr.example' name="example">
                 </td>
                  <td>
                   <span name="describe">{{itemtr.describe}}</span>
                    <input type='text' class='flagclass' *ngIf="flag2" [(ngModel)]='itemtr.describe' name="describe">
                 </td>
               </tr>
               <tr *ngFor='let itemtrs of iooutdata'>
                  <td>
                      <span name="int_name_cn">{{itemtrs.int_name_cn}}</span>
                       <input type='text' class='flagclass'  *ngIf="flag2" [(ngModel)]='itemtrs.int_name_cn' name="int_name_cn">
                  </td>
                  <td>
                      <span name="int_name_en">{{itemtrs.int_name_en}}</span>
                       <input type='text' class='flagclass'  *ngIf="flag2" [(ngModel)]='itemtrs.int_name_en' name="int_name_en">
                  </td>
                    <td>
                      <span name="type">{{itemtrs.type}}</span>
                       <input type='text' class='flagclass'  *ngIf="flag2" [(ngModel)]='itemtrs.type' name="type">
                    </td>
                     <td>
                      <span name="name_en">{{itemtrs.name_en}}</span>
                       <input type='text'  class='flagclass' *ngIf="flag2" [(ngModel)]='itemtrs.name_en' name="name_en">
                    </td>
                     <td>
                      <span name="name_cn">{{itemtrs.name_cn}}</span>
                       <input type='text' class='flagclass' *ngIf="flag2" [(ngModel)]='itemtrs.name_cn' name="name_cn">
                    </td>
                     <td>
                      <span name="field_type">{{itemtrs.field_type}}</span>
                       <input type='text' class='flagclass' *ngIf="flag2" [(ngModel)]='itemtrs.field_type' name="field_type">
                    </td>
                     <td>
                      <span name="lob">{{itemtrs.lob}}</span>
                       <input type='text' class='flagclass' *ngIf="flag2" [(ngModel)]='itemtrs.lob' name="lob">
                    </td>
                     <td>
                      <span name="example">{{itemtrs.example}}</span>
                       <input type='text' class='flagclass' *ngIf="flag2" [(ngModel)]='itemtrs.example' name="example">
                    </td>
                     <td>
                      <span name="describe">{{itemtrs.describe}}</span>
                       <input type='text' class='flagclass' *ngIf="flag2" [(ngModel)]='itemtrs.describe' name="describe">
                    </td>
                  </tr>
             </tbody>
          </table>
          </div>
        </form>
    </div> 

   
    <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel2"></h4>
          </div>
          <div class="modal-body">
            <div class="malert">
                  <form class="form-horizontal" #mulSearchAdd="ngForm"  (ngSubmit)="mulSearchAdd.form.valid && onsubmit(mulSearchAdd)" novalidate class="form-horizontal" role="form">
                    <div  ngModelGroup="AddMultS" #AddMultS="ngModelGroup">
                    <div class="form-group">
                      <label  class="col-sm-2 control-label">接口编号</label>
                      <div class="col-sm-10">
                            <input type="number" [(ngModel)]='AddMultS.int_service_num' name="int_service_num" #int_service_num='ngModel' class="form-control" required maxlength="20"  placeholder="接口编号">
                   
                           <div [hidden]="int_service_num.valid || int_service_num.pristine" class="text-danger">
                            <p *ngIf="int_service_num.errors?.maxlength">编号最大字符为20</p>
                            <p *ngIf="int_service_num.errors?.required">必须输入编号</p>
                          </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label  class="col-sm-2 control-label">输入输出类型</label>
                      <div class="col-sm-10">
                        <input type="text"  [(ngModel)]='AddMultS.type' name="type" #type='ngModel' class="form-control" required maxlength="10"  placeholder="类型">
                          <div [hidden]="type.valid || type.pristine" class="text-danger">
                            <p *ngIf="type.errors?.maxlength">最大字符为10</p>
                            <p *ngIf="type.errors?.required">必须输入</p>
                          </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label  class="col-sm-2 control-label">输入输出字段英文名称</label>
                      <div class="col-sm-10">
                        <input type="text" [(ngModel)]='AddMultS.name_en' name="name_en" #name_en='ngModel' class="form-control" required maxlength="10"  placeholder="输入输出字段英文名称">
                          <div [hidden]="name_en.valid || name_en.pristine" class="text-danger">
                            <p *ngIf="name_en.errors?.maxlength">最大字符为10</p>
                            <p *ngIf="name_en.errors?.required">必须输入</p>
                          </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label  class="col-sm-2 control-label">输入输出字段中文名称</label>
                      <div class="col-sm-10">
                        <input type="text"  [(ngModel)]='AddMultS.name_cn' name="name_cn" #name_cn='ngModel' class="form-control" required maxlength="10"  placeholder="小类">
                          <div [hidden]="name_cn.valid || name_cn.pristine" class="text-danger">
                            <p *ngIf="name_cn.errors?.maxlength">最大字符为10</p>
                            <p *ngIf="name_cn.errors?.required">必须输入</p>
                          </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label  class="col-sm-2 control-label">输入输出字段类型</label>
                      <div class="col-sm-10">
                        <input type="text"  [(ngModel)]='AddMultS.field_type' name="field_type" #field_type='ngModel' class="form-control" required maxlength="10"  placeholder="field_type">
                          <div [hidden]="field_type.valid || field_type.pristine" class="text-danger">
                            <p *ngIf="field_type.errors?.maxlength">最大字符为10</p>
                            <p *ngIf="field_type.errors?.required">必须输入</p>
                          </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label  class="col-sm-2 control-label">输入字段是否必输</label>
                      <div class="col-sm-10"> 
                      <select   [(ngModel)]='AddMultS.lob' name="lob" #lob='ngModel' class="form-control" required maxlength="10"  placeholder="输入字段是否必输">
                         <option (ngModel)="lob">是</option>
                         <option (ngModel)="lob">否</option>
                      </select>
                    
                        <div [hidden]="lob.valid || lob.pristine" class="text-danger">
                        <p *ngIf="lob.errors?.required">必须输入状态</p>
                      </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label  class="col-sm-2 control-label">字段示例</label>
                      <div class="col-sm-10">
                      <input type="text" [(ngModel)]='AddMultS.example' name="example" #example='ngModel' class="form-control" required maxlength="200"  placeholder="字段示例">
                        <div [hidden]="example.valid || example.pristine" class="text-danger">
                        <p *ngIf="example.errors?.maxlength">字段示例最大字符为200</p>
                        <p *ngIf="example.errors?.required">必须输入</p>
                       </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label  class="col-sm-2 control-label">描述</label>
                      <div class="col-sm-10">
                      <input type="text" [(ngModel)]='AddMultS.describe' name="describe" #describe='ngModel' class="form-control" required maxlength="200"  placeholder="描述">
                        <div [hidden]="describe.valid || describe.pristine" class="text-danger">
                        <p *ngIf="describe.errors?.maxlength">描述最大字符为200</p>
                        <p *ngIf="describe.errors?.required">必须输入</p>
                       </div>
                      </div>
                    </div>
                    <div class="modal-footer">  
                      <button type="button" class="btn btn-danger pull-right" [disabled]="mulSearchAdd.invalid" (click)="addSave(AddMultS.value)" data-dismiss="modal" aria-label="Close">保存</button>
                      <!-- 实现添加数据后文本框中的内容为空-->
                      <button type="button" class="btn btn-danger pull-right"  data-dismiss="modal" aria-label="Close" aria-hidden="true">取消</button>
                    </div>
                    </div>
                     
                  </form>
              </div>
              <!-- 页面元素获取测试 -->
              <div>{{AddMultS.value | json}}</div>
          </div>
        </div>
      </div>
    </div>