 <!--<nav class="navbar navbar-default" role="navigation">
	<div class="container-fluid"> 
    <div class="navbar-header">
        <a class="navbar-brand" href="#">导航</a>
    </div>
    <div>
         <ul class="nav navbar-nav" *ngFor="let m of menus">
            <li class=""><a href="javascript:void(0)" *ngIf="m.children.length<1">{{m.title}}</a></li>
            <li class="dropdown" ngbDropdown>
                <a href="javascript:void(0)" class="nav-link" ngbDropdownToggle *ngIf="m.children.length>0">
                    {{m.title}} <b class="caret"></b>
                </a>
                <ul class="dropdown-menu dropdown-menu-right" *ngFor="let c of m.children">
                    <li class="dropdown-item" ><a href="javascript:void(0)">{{c.title}}</a></li>
                </ul>
            </li>
        </ul>
    </div>
	</div>
</nav>-->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Brand</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown" *ngFor="let list of menulist">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{list.name}} <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/dashboard/interface">111</a></li>
            <li *ngFor="let item of list.ncontent"><a [href]="item.url">{{item.pname}}</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{name}} <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="">个人资料</a></li>
            <li><a href="/resetpassword">重置密码</a></li>
            <li role="separator" class="divider"></li>
            <li><a  (click)="logoout()">注销</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<!--
<h3>fdsfsdfsdfd</h3>
<nav class="navbar navbar-default" role="navigation">
<div class="sidebar">
  <accordion  [closeOthers]="oneAtATime">
    <!-- [closeOthers]="oneAtATime"表示只显示一个  下面使用双ngFor循环获取数据-->
    <!--<accordion-group #acordgroup>
     <div accordion-heading  [ngClass]="{'select_panle': acordgroup?.isOpen, 'normal_panle': !acordgroup?.isOpen}">
         <p class='slidename'>2222</p> 
    </div>
         <ul   class='list-group'>
            <li class="list-group-item">
              <ul  class="list-ul">
                  <li class="list-group-item"><a [href]="">1111</a></li>
              </ul>
            </li>        
          <!-- 这里要分清楚条理，不要被吓到或者是乱弄，分清楚循环后获得的是什么-->
        <!--  </ul>   
    </accordion-group>
  </accordion>
</div>
</nav>-->
