<div class="">
  <form class="form-inline">
  <div class="form-group">
    <div class="input-group" col-md-8>
      <input type="text" #seachInterface (keyup)="searchInter(seachInterface.value)" class="form-control" id="exampleInputAmount" placeholder="英文名称">
    </div>
  </div>
  <button type='button' class="btn btn-primary"  data-toggle="modal" data-target="#myModal">高级搜索</button>
  <button type='button' class="btn btn-primary"  data-toggle="modal" data-target="#myModal2">新增</button>
  <!--- 这里一定要改为button如果是submit他会提交并且跳转页面然后报错-->
</form>
<!-- 搜索-->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"></h4>
      </div>
      <div class="modal-body">
        <div class="malert">
              <form class="form-horizontal" #mulSearch="ngForm"  (ngSubmit)="mulSearch.form.valid && onsubmit(mulSearch)" novalidate class="form-horizontal" role="form">
                <div  ngModelGroup="multS" #multS="ngModelGroup">
              <!--  <div class="form-group">
                  <label  class="col-sm-2 control-label">接口服务编号</label>
                  <div class="col-sm-10">
                    <input type="text" [(ngModel)]='multS.fwbm' name="fwbm" #fwbm='ngModel' class="form-control" placeholder="服务编码">
                    <div *ngIf="mulSearch.submitted && !fwbm.valid" class="text-danger">请输入正确的服务编码</div>
                  </div>
                </div> -->
                <div class="form-group">
                  <label  class="col-sm-2 control-label">软件产品编号</label>
                  <div class="col-sm-10">
                    <input type="text" [(ngModel)]='multS.software_num' name="software_num" #software_num='ngModel' class="form-control"  placeholder="软件产品条线名称">
                     <div *ngIf="mulSearch.submitted && !software_num.valid" class="text-danger">请输入正确的软件产品条线名称</div>
                  </div>
                </div>
                <div class="form-group">
                  <label  class="col-sm-2 control-label">大类</label>
                  <div class="col-sm-10">
                    <input type="text" [(ngModel)]='multS.great_class' name="great_class" #great_class='ngModel' class="form-control"  placeholder="大类">
                     <div *ngIf="mulSearch.submitted && !great_class.valid" class="text-danger">请输入正确的大类</div>
                  </div>
                </div>
                <div class="form-group">
                  <label  class="col-sm-2 control-label">小类</label>
                  <div class="col-sm-10">
                    <input type="text"  [(ngModel)]='multS.less_class' name="less_class" #less_class='ngModel' class="form-control"  placeholder="小类">
                     <div *ngIf="mulSearch.submitted && !less_class.valid" class="text-danger">请输入正确的小类</div>
                  </div>
                </div>
                <div class="form-group">
                  <label  class="col-sm-2 control-label">状态</label>
                  <div class="col-sm-10">
                    <select [(ngModel)]='multS.state' name="state" #state='ngModel' class="form-control">
                       <option>启用</option>
                       <option>禁止</option>
                    </select>
                     <div *ngIf="mulSearch.submitted && !state.valid" class="text-danger">请输入正确的状态</div>
                  </div>
                </div>
                <div class="form-group">
                  <label  class="col-sm-2 control-label">接口中文名称</label>
                  <div class="col-sm-10">
                    <input type="text" [(ngModel)]='multS.int_name_cn' name="int_name_cn" #int_name_cn='ngModel' class="form-control"  placeholder="中文名称">
                     <div *ngIf="mulSearch.submitted && !int_name_cn.valid" class="text-danger">请输入正确中文名称</div>
                  </div>
                </div>
                 <div class="form-group">
                  <label  class="col-sm-2 control-label">接口英文名称</label>
                  <div class="col-sm-10">
                    <input type="text" [(ngModel)]='multS.int_name_en' name="int_name_en" #URL='ngModel' class="form-control"  placeholder="int_name_en">
                     <div *ngIf="mulSearch.submitted && !int_name_en.valid" class="text-danger">请输入正确的英文名称</div>
                  </div>
                </div>
                  <div class="form-group">
                  <label  class="col-sm-2 control-label">功能描述</label>
                  <div class="col-sm-10">
                    <input type="text" [(ngModel)]='multS.description' name="description" #URL='ngModel' class="form-control"  placeholder="functionDescription">
                     <div *ngIf="mulSearch.submitted && !description.valid" class="text-danger">请输入正确的功能描述</div>
                  </div>
                </div>
                <div class="form-group">
                  <label  class="col-sm-2 control-label">URL</label>
                  <div class="col-sm-10">
                    <input type="text" [(ngModel)]='multS.URL' name="URL" #URL='ngModel' class="form-control"  placeholder="URL">
                     <div *ngIf="mulSearch.submitted && !URL.valid" class="text-danger">请输入正确的url</div>
                  </div>
                </div>
                <div class="form-group">
                  <label  class="col-sm-2 control-label">备注</label>
                  <div class="col-sm-10">
                    <input type="text" [(ngModel)]='multS.remark' name="remark" #URL='ngModel' class="form-control"  placeholder="remark">
                     <div *ngIf="mulSearch.submitted && !remark.valid" class="text-danger">请输入正确的备注</div>                     
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-danger pull-right" (click)="advanceSearch(multS.value)" data-dismiss="modal" aria-label="Close">搜索</button>
                  <button type="button" class="btn btn-danger pull-right"  data-dismiss="modal" aria-label="Close" aria-hidden="true">取消</button>
                </div>
                </div>
                 
              </form>
          </div>
          <div>{{multS.value | json}}</div>
      </div>
    </div>
  </div>
</div>
<!-- 新增-->
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel2"></h4>
      </div>
      <div class="modal-body">
        <div class="malert">
              <form class="form-horizontal" #mulSearchAdd="ngForm"  (ngSubmit)="mulSearchAdd.form.valid && onsubmit(mulSearchAdd)" novalidate class="form-horizontal" role="form">
                <div  ngModelGroup="AddMultS" #AddMultS="ngModelGroup">
                <div class="form-group">
                  <label  class="col-sm-2 control-label">软件产品编号</label>
                  <div class="col-sm-10">
                        <input type="number" [(ngModel)]='AddMultS.software_num' name="software_num" #software_num='ngModel' class="form-control" required maxlength="20"  placeholder="软件产品条线名称">
               
                       <div [hidden]="software_num.valid || software_num.pristine" class="text-danger">
                        <p *ngIf="software_num.errors?.maxlength">软件产品编号最大字符为20</p>
                        <p *ngIf="software_num.errors?.required">必须输入软件产品编号</p>
                      </div>
                  </div>
                </div>
                <div class="form-group">
                  <label  class="col-sm-2 control-label">大类</label>
                  <div class="col-sm-10">
                    <input type="text" [(ngModel)]='AddMultS.great_class' name="great_class" #great_class='ngModel' class="form-control" required maxlength="10"  placeholder="大类">
                      <div [hidden]="great_class.valid || great_class.pristine" class="text-danger">
                        <p *ngIf="great_class.errors?.maxlength">大类最大字符为10</p>
                        <p *ngIf="great_class.errors?.required">必须输入大类</p>
                      </div>
                  </div>
                </div>
                <div class="form-group">
                  <label  class="col-sm-2 control-label">小类</label>
                  <div class="col-sm-10">
                    <input type="text"  [(ngModel)]='AddMultS.less_class' name="less_class" #less_class='ngModel' class="form-control" required maxlength="10"  placeholder="小类">
                      <div [hidden]="less_class.valid || less_class.pristine" class="text-danger">
                        <p *ngIf="less_class.errors?.maxlength">小类最大字符为10</p>
                        <p *ngIf="less_class.errors?.required">必须输入小类</p>
                      </div>
                  </div>
                </div>
                <div class="form-group">
                  <label  class="col-sm-2 control-label">状态</label>
                  <div class="col-sm-10"> 
                    <select   [(ngModel)]='AddMultS.state' name="state" #state='ngModel' class="form-control" required maxlength="10"  placeholder="状态">
                       <option (ngModel)="state">active</option>
                       <option (ngModel)="state">hidden</option>
                    </select>
              
                      <div [hidden]="state.valid || state.pristine" class="text-danger">
                        <p *ngIf="state.errors?.required">必须输入状态</p>
                    </div>
                  </div>
                </div>
                <div class="form-group"><!--  && !submitted  当美誉通过验证的时候让用户输入中文或者英文-->
                  <label  class="col-sm-2 control-label">接口中文名称</label>
                  <div class="col-sm-10">
                    <input type="text" [(ngModel)]='AddMultS.int_name_cn' name="int_name_cn" #int_name_cn='ngModel' class="form-control"  required maxlength="200" pattern="^[\u4E00-\u9FA5\uF900-\uFA2D]*"  placeholder="中文名称">
                    <div [hidden]="int_name_cn.valid || (int_name_cn.pristine && !submitted)" class="text-danger">
                        <p *ngIf="int_name_cn.errors?.maxlength">接口中文名称最大字符为200</p>
                        <p *ngIf="int_name_cn.errors?.required">必须输入中文名称</p>
                        <p *ngIf="!submitted">请输入中文</p>
                    </div>
                  </div>
                </div>
                 <div class="form-group">
                  <label  class="col-sm-2 control-label">接口英文名称</label>
                  <div class="col-sm-10">
                    <input type="text" [(ngModel)]='AddMultS.int_name_en' name="int_name_en" #int_name_en='ngModel' class="form-control" required maxlength="100" pattern="^[a-zA-Z]*" placeholder="int_name_en">
                    <div [hidden]="int_name_en.valid || (int_name_en.pristine && !submitted)" class="text-danger">
                        <p *ngIf="int_name_en.errors?.maxlength">接口英文名称最大字符为200</p>
                        <p *ngIf="int_name_en.errors?.required">必须输入英文名称</p>
                        <p *ngIf="!submitted">请输入英文</p>
                    </div>
                  </div>
                </div>
                  <div class="form-group">
                  <label  class="col-sm-2 control-label">功能描述</label>
                  <div class="col-sm-10">
                    <input type="text" [(ngModel)]='AddMultS.description' name="description" #description='ngModel' class="form-control" required maxlength="200"  placeholder="functionDescription">
                      <div [hidden]="description.valid || description.pristine" class="text-danger">
                        <p *ngIf="description.errors?.maxlength">功能描述最大字符为200</p>
                        <p *ngIf="description.errors?.required">必须输入功能描述</p>
                     </div>
                  </div>
                </div>
                <div class="form-group">
                  <label  class="col-sm-2 control-label">URL</label>
                  <div class="col-sm-10">
                    <input type="text" [(ngModel)]='AddMultS.URL' name="URL" #URL='ngModel' class="form-control" maxlength="200"   placeholder="URL">
                     <div *ngIf="mulSearch.submitted && !URL.valid" class="text-danger">请输入正确的url</div>
                  </div>
                </div>
                <div class="form-group">
                  <label  class="col-sm-2 control-label">备注</label>
                  <div class="col-sm-10">
                    <input type="text" [(ngModel)]='AddMultS.remark' name="remark" #remark='ngModel' class="form-control" maxlength="200"   placeholder="remark">
                     <div [hidden]="remark.valid || remark.pristine" class="alert alert-danger">
                        <p *ngIf="remark.errors?.minlength">姓名最大长度为200</p>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">  
                  <button type="button" class="btn btn-danger pull-right" [disabled]="mulSearchAdd.invalid" (click)="addSave(AddMultS.value)" data-dismiss="modal" aria-label="Close">保存</button>
                  <!-- 实现添加数据后文本框中的内容为空-->
                  <button type="button" class="btn btn-danger pull-right"  data-dismiss="modal" aria-label="Close" aria-hidden="true">取消</button>
                </div>
                </div>
                 
              </form>
          </div>
          <!-- 页面元素获取测试 -->
          <div>{{AddMultS.value | json}}</div>
      </div>
    </div>
  </div>
</div>
<!--数据展示，这里是测试用，后面通过ngIf的形式来展示数据模块 -->
<div class="searchAlertcontainer">
    <form>
      <div class="table-responsive">
      <table class="table table-striped">
        <thead>
         <tr>
           <th>操作</th>
        <!--   <th>接口服务编号</th> -->
           <th *ngIf="flag4">软件产品编号</th>
           <th *ngIf="flag4">大类</th>
           <th *ngIf="flag4">小类</th>
           <th>状态</th>
           <th>接口中文名称</th>
           <th>接口英文名称</th>
           <th *ngIf="flag4">功能描述</th>
           <th *ngIf="flag4">URL</th>
           <th *ngIf="flag4">备注</th>
         </tr>
         </thead>
         <tbody>
           <!-- 设置当state==hidden的时候着一行tr隐藏 -->
           <tr  *ngFor='let itemtr of interdatas'> 
             <td>   
               <a href="javascript:void(0);"  (click)="editCon()"><span class="glyphicon glyphicon-pencil"></span></a>
               <!--<a href="javascript:void(0);"  (click)='deleteInt(itemtr);$event.stopPropagation()'><span class="glyphicon glyphicon-remove-circle"></span></a>-->
               <a href="javascript:void(0);"[routerLink]="['/dashboard/interface/io',itemtr.int_service_num]">I/O</a>
               <a href="javascript:void(0);" [routerLink]="['/dashboard/interface/inputD3',itemtr.int_service_num]"><span class="glyphicon glyphicon-link"></span></a>
               <a href="javascript:void(0);" (click)="EditUpdatec(itemtr)"><span class="glyphicon glyphicon-saved"></span></a>
               <!--<input type='checkbox' [(ngModel)]='itemtr.isChecked' name="isChecked">-->
               <input type='checkbox' [checked]='isCheck(itemtr)' (click)="choseBox(itemtr)" name="isChecked">
             </td>
             <td *ngIf="flag4">
               <span name="software_num">{{itemtr.software_num}}</span>
                <input type='text' class='flagclass'  *ngIf="flag2" [(ngModel)]='itemtr.software_num' name="software_num" placeholder="itemtr.software_num">
             </td>
              <td *ngIf="flag4">
               <span name="great_class">{{itemtr.great_class}}</span>
                <input type='text'  class='flagclass' *ngIf="flag2" [(ngModel)]='itemtr.great_class' name="great_class" placeholder="itemtr.great_class">
             </td>
              <td *ngIf="flag4">
               <span name="less_class">{{itemtr.less_class}}</span>
                <input type='text' class='flagclass' *ngIf="flag2" [(ngModel)]='itemtr.less_class' name="less_class" placeholder="itemtr.less_class">
             </td>
              <td>
               <span name="state">{{itemtr.state}}</span>
                <input type='text' class='flagclass' *ngIf="flag2" [(ngModel)]='itemtr.state' name="state" placeholder="itemtr.state">
             </td>
              <td>
               <span name="int_name_cn">{{itemtr.int_name_cn}}</span>
                <input type='text' class='flagclass' *ngIf="flag2" [(ngModel)]='itemtr.int_name_cn' name="int_name_cn" placeholder="itemtr.int_name_cn">
             </td>
              <td>
               <span name="int_name_en">{{itemtr.int_name_en}}</span>
                <input type='text' class='flagclass' *ngIf="flag2" [(ngModel)]='itemtr.int_name_en' name="int_name_en" placeholder="itemtr.int_name_en">
             </td>
              <td *ngIf="flag4">
               <span name="description">{{itemtr.description}}</span>
                <input type='text' class='flagclass' *ngIf="flag2" [(ngModel)]='itemtr.description' name="description" placeholder="itemtr.description">
             </td>
              <td *ngIf="flag4">
               <span name="URL">{{itemtr.URL}}</span>
                <input type='text' class='flagclass' *ngIf="flag2" [(ngModel)]='itemtr.URL' name="URL">
             </td>
               <td *ngIf="flag4">
               <span name="sremark">{{itemtr.remark}}</span>
                <input type='text' class='flagclass' *ngIf="flag2" [(ngModel)]='itemtr.remark' name="remark">
             </td>
           </tr>
           <tr>
            <div class="checkbox">
                    <label>
                      <input type="checkbox" (click)="choseALL(interdatas)"> 全选
                    </label>
                  </div>
            <button class="btn btn-success"  type="button"  (click)="deleteCheck(choseItem)">删除</button>
           </tr>
         </tbody>
      </table>
      </div>
     
 
    </form>
</div> 
<!-- (click)="loadData()"  -->
<pagination [boundaryLinks]="true" [totalItems]="totalItems" [(ngModel)]="currentPage" class="pagination-sm"
            previousText="&lsaquo;" [maxSize]='maxSize' (numPages)="smallnumPages = $event" [itemsPerPage]='itemsPerPage' nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;" (click)="loadData()" (pageChanged)="pageChanged($event)"></pagination>
</div>
