<div class="">
  <form class="form-inline">
  <button type='button' class="btn btn-primary"  data-toggle="modal" data-target="#myModal">搜索</button>
  <button type='button' class="btn btn-primary"  data-toggle="modal" data-target="#myModal2">新增</button>
  <button type='button' class="btn btn-danger"   data-toggle="modal" data-target="#myModal4">删除</button>  
</form>
<div class="searchAlertcontainer">
    <form tableform = 'ngFrom'>
      <div class="table-responsive">
      <table class="table table-striped">
        <thead>
         <tr>
           <th id="j_cbAll"><input type="checkbox" (click)="choseALLs(basicdatas,$event.target.checked)"></th>
           <th>基础参数编号</th> 
           <th>基础参数类型</th>
           <th>父级参数</th>
           <th>键</th>
           <th>值</th>
           <th>操作</th>
         </tr>
         </thead>
         <tbody>
         
           <tr *ngFor='let basic of basicdatas'>
              <td>   
               <!-- <a href="javascript:void(0);"  (click)="editCon()"><span class="glyphicon glyphicon-pencil"></span></a> -->
               <input type='checkbox' class="checkboxdete" [ngModel]="checkBox"  (click)="deleteCheck($event.target.checked,itemtr)" name="isChecked">
             </td>
              <td>
               <span name="ID">{{basic.ID}}</span>
                <input type='text' class='flagclass'  *ngIf="flag2" [(ngModel)]='basic.ID' name="ID">
             </td>
             <td>
               <span name="Type">{{basic.Type}}</span>
                <input type='text' class='flagclass'  *ngIf="flag2" [(ngModel)]='basic.Type' name="Type">
             </td>
              <td>
               <span name="Parent">{{basic.Parent}}</span>
                <input type='text'  class='flagclass' *ngIf="flag2" [(ngModel)]='basic.Parent' name="Parent">
             </td>
              <td>
               <span name="Key">{{basic.Key}}</span>
                <input type='text' class='flagclass' *ngIf="flag2" [(ngModel)]='basic.Key' name="Key">
             </td>
              <td>
               <span name="Value">{{basic.Value}}</span>
                <input type='text' class='flagclass' *ngIf="flag2" [(ngModel)]='basic.Value' name="Value">
             </td> 
              <td>
               <a href="javascript:void(0);" title="编辑" (click)="alertEdit=true;alertSearch=false;alertAdd=false;alertTitle='编辑';itemtr" 
                  data-toggle="modal" data-target="#myModal3" class="editclass"><span class="glyphicon glyphicon-pencil"></span>
               </a>  
             </td>      
            </tr>
         </tbody>
      </table>
      </div>
    </form>
</div> 
<!-- <pagination [boundaryLinks]="true" [totalItems]="totalItems" [(ngModel)]="currentPage" class="pagination-sm"
            previousText="&lsaquo;" [maxSize]='maxSize' [itemsPerPage]='itemsPerPage' nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;" (click)="loadData()"  (pageChanged)="pageChanged($event)"></pagination> -->
<!-- 搜索-->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"></h4>
      </div>
      <div class="modal-body">
        <h3 align="center">基础参数查询</h3>
        <div class="malert">
              <form class="form-horizontal" #mulSearch="ngForm"  (ngSubmit)="mulSearch.form.valid && onsubmit(mulSearch)" novalidate class="form-horizontal" role="form">
                <div  ngModelGroup="multS" #multS="ngModelGroup">
                <div class="form-group">
                  <label  class="col-sm-2 control-label">类型</label>
                  <div class="col-sm-10">
                    <input type="text" [(ngModel)]='multS.Type' name="Type" #Type='ngModel' class="form-control"  placeholder="类型">
                     <div *ngIf="mulSearch.submitted && !Type.valid" class="text-danger">请输入正确的基础参数类型</div>
                  </div>
                </div>
                <div class="form-group">
                  <label  class="col-sm-2 control-label">父级参数</label>
                  <div class="col-sm-10">
                    <input type="text" [(ngModel)]='multS.Parent' name="Parent" #Parent='ngModel' class="form-control"  placeholder="父级参数">
                     <div *ngIf="mulSearch.submitted && !Parent.valid" class="text-danger">请输入正确的父级参数</div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-danger pull-right" (click)="advanceSearch(multS.value)" data-dismiss="modal" aria-label="Close">搜索</button>
                  <button type="button" class="btn btn-danger pull-right"  data-dismiss="modal" aria-label="Close" aria-hidden="true">取消</button>
                </div>
                </div> 
              </form>
          </div>
          <!-- <div>{{multS.value | json}}</div> -->
      </div>
    </div>
  </div>
</div>

<!--新增-->
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 align="center">基础参数新增</h3>
      </div>
      <div class="modal-body">
        <div class="malert">
              <form class="form-horizontal" #mulSearchAdd="ngForm"  (ngSubmit)="mulSearchAdd.form.valid && onsubmit(mulSearchAdd)" novalidate class="form-horizontal" role="form">
                <div  ngModelGroup="AddMultS" #AddMultS="ngModelGroup">
                <div class="form-group">
                  <label  class="col-sm-2 control-label">类型</label>
                  <div class="col-sm-10">
                    <input type="text" [(ngModel)]='AddMultS.Type' name="Type" #Type='ngModel' class="form-control" required maxlength="100"  placeholder="基础参数类型">
                       <div [hidden]="Type.valid || Type.pristine" class="text-danger">
                        <p *ngIf="Type.errors?.maxlength">基础参数类型最大字符为100</p>
                        <p *ngIf="Type.errors?.required">必须输入基础参数类型</p>
                      </div>
                  </div>
                </div>
                <div class="form-group">
                  <label  class="col-sm-2 control-label">父级参数</label>
                  <div class="col-sm-10">
                    <input type="text" [(ngModel)]='AddMultS.Parent' name="Parent" #Parent='ngModel' class="form-control" maxlength="100"   placeholder="父级参数">
                     <div [hidden]="Parent.valid || Parent.pristine" class="alert alert-danger">
                        <p *ngIf="Parent.errors?.minlength">父级参数最大长度为100</p>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label  class="col-sm-2 control-label">键</label>
                  <div class="col-sm-10">
                    <input type="text"  [(ngModel)]='AddMultS.Key' name="Key" #Key='ngModel' class="form-control" required maxlength="100"  placeholder="键">
                      <div [hidden]="Key.valid || Key.pristine" class="text-danger">
                        <p *ngIf="Key?.maxlength">键最大字符为100</p>
                        <p *ngIf="Key?.required">必须输入键</p>
                      </div>
                  </div>
                </div>
                <div class="form-group">
                  <label  class="col-sm-2 control-label">值</label>
                  <div class="col-sm-10"> 
                    <input type="text"  [(ngModel)]='AddMultS.Value' name="Value" #Value='ngModel' class="form-control" required maxlength="10"  placeholder="值">
                      <div [hidden]="Value.valid || Value.pristine" class="text-danger">
                        <p *ngIf="Value.errors?.maxlength">值最大字符为100</p>
                        <p *ngIf="Value.errors?.required">必须输入值</p>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">  
                  <button type="button" class="btn btn-danger pull-right" [disabled]="mulSearchAdd.invalid" (click)="addSave(AddMultS.value)" data-dismiss="modal" aria-label="Close">保存</button>
                  <!-- 实现添加数据后文本框中的内容为空-->
                 <button type="button" class="btn btn-danger pull-right"  data-dismiss="modal" aria-label="Close" aria-hidden="true">取消</button>
                </div>
                </div>
              </form>
          </div>
      </div>
    </div>
  </div>
</div>
<!--编辑-->
<div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 align="center">基础参数编辑</h3>
      </div>
      <div class="modal-body">
        <div class="malert">
              <form class="form-horizontal" #mulSearchAdd="ngForm"  (ngSubmit)="mulSearchAdd.form.valid && onsubmit(mulSearchAdd)" novalidate class="form-horizontal" role="form">
                <div  ngModelGroup="AddMultS" #AddMultS="ngModelGroup">
                <div class="form-group">
                  <label  class="col-sm-2 control-label">类型</label>
                  <div class="col-sm-10">
                    <input type="text" [(ngModel)]='AddMultS.Type' name="Type" #Type='ngModel' class="form-control" required maxlength="100"  placeholder="基础参数类型">
                       <div [hidden]="Type.valid || Type.pristine" class="text-danger">
                        <p *ngIf="Type.errors?.maxlength">基础参数类型最大字符为100</p>
                        <p *ngIf="Type.errors?.required">必须输入基础参数类型</p>
                      </div>
                  </div>
                </div>
                <div class="form-group">
                  <label  class="col-sm-2 control-label">父级参数</label>
                  <div class="col-sm-10">
                    <input type="text" [(ngModel)]='AddMultS.Parent' name="Parent" #Parent='ngModel' class="form-control" maxlength="100"   placeholder="父级参数">
                     <div [hidden]="Parent.valid || Parent.pristine" class="alert alert-danger">
                        <p *ngIf="Parent.errors?.minlength">父级参数最大长度为100</p>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label  class="col-sm-2 control-label">键</label>
                  <div class="col-sm-10">
                    <input type="text"  [(ngModel)]='AddMultS.Key' name="Key" #Key='ngModel' class="form-control" required maxlength="100"  placeholder="键">
                      <div [hidden]="Key.valid || Key.pristine" class="text-danger">
                        <p *ngIf="Key?.maxlength">键最大字符为100</p>
                        <p *ngIf="Key?.required">必须输入键</p>
                      </div>
                  </div>
                </div>
                <div class="form-group">
                  <label  class="col-sm-2 control-label">值</label>
                  <div class="col-sm-10"> 
                    <input type="text"  [(ngModel)]='AddMultS.Value' name="Value" #Value='ngModel' class="form-control" required maxlength="10"  placeholder="值">
                      <div [hidden]="Value.valid || Value.pristine" class="text-danger">
                        <p *ngIf="Value.errors?.maxlength">值最大字符为100</p>
                        <p *ngIf="Value.errors?.required">必须输入值</p>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">  
                  <button type="button" class="btn btn-danger pull-right" [disabled]="mulSearchAdd.invalid" (click)="addSave(AddMultS.value)" data-dismiss="modal" aria-label="Close">保存</button>
                  <!-- 实现添加数据后文本框中的内容为空-->
                 <button type="button" class="btn btn-danger pull-right"  data-dismiss="modal" aria-label="Close" aria-hidden="true">取消</button>
                </div>
                </div>
              </form>
          </div>
      </div>
    </div>
  </div>
</div>
<!-- 删除的时候的提示框 -->
  <div class="modal fade" tabindex="-1" role="dialog" id="myModal4">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">警告</h4>
      </div>
      <div class="modal-body">
        <p>您确定删除这些数据吗</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary" (click)="deleteCC(interdatas)" data-dismiss="modal">确认删除</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div> 
</div>
