<div class="login-page">
    <div class="row">
        <div class="col-md-4 push-md-4">
            <h1>密码修改</h1>
            <form role="form" passWord="ngForm" #user  novalidate (onSubmit)='onSubmit()'>
                <div class="form-content">
                    <!--  获取 -->
                    <div class="form-group">
                        <input type="text" [(ngModel)]="user.userName" required  name="userName" class="form-control input-underline input-lg" placeholder="请输入用户名">
                    </div>
                    <div class="form-group">
                        <input type="text" [(ngModel)]="user.currentPW" required minlength='6' name="currentPW" class="form-control input-underline input-lg"  placeholder="当前密码">
                    </div>
                   <!--  验证 -->
                    <div class="form-group">
                        <input type="password" [(ngModel)]="user.newPW" required minlength='6'  name="newPW" class="form-control input-underline input-lg"  placeholder="请输入新密码">
                    </div>
                    <div class="form-group">
                        <input type="password" [(ngModel)]="user.confirmNewPw" required minlength='6'  name="confirmNewPw" class="form-control input-underline input-lg"  placeholder="请确认新密码">
                    </div>
                </div>
                <a class="btn rounded-btn" (click)=updatePassword(user)> 修改 </a> &nbsp;              
                <a class="btn rounded-btn" [routerLink]="['/dashboard']">返回 </a>
            </form>
        </div>
    </div>
    <p>{{passWord.value}}</p>
</div>